#finance{
    .content {
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 40px;
    }
    

    .content-trade {
        display: flex;
        align-items: left;
        justify-content: flex-start;
        padding-left: 50px;
        h1{
            padding-bottom: 30px;
        }
       
    }

}

.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab {
    width: 200px !important;
}

