/* header */

.nav {
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    img {
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }
    .home-menu {
        margin: 0 70px 0 70px;
        width: 1300px;
        height: 85px;
        line-height: 85px;
        .pure-menu-heading {
            padding: 0;
            margin-top: 8px;
            margin-right: 50px;
            width: 239px;
            height: 40px;
            background: url('../static/images/logo.png') 0 0 no-repeat;
            background-size: 239px 30px;
        }
        .pure-menu-list {
            .pure-menu-item {
                padding: 0 1.5em;
                .pure-menu-link {
                    color: rgba(0, 0, 0, 0.8);
                    padding: 0;
                    font-size: 16px;
                    font-weight: 400;
                    border: none;
                    &:hover {
                        background-color: transparent;
                        color: rgba(0, 0, 0, 1.0);
                    }
                    &:focus {
                        background-color: transparent;
                    }
                }
                &.pure-menu-selected {
                    .pure-menu-link {
                        color: rgba(0, 0, 0, 0.8);
                    }
                }
                .pure-button-normal {
                    font-size: 16px;
                    width: 80px;
                    background-color: transparent;
                    color: #e7541c;
                    border: solid 1px #e7541c;;
                    padding: 4px 0;
                    text-align: center;
                    border-radius: 0;
                    height: 40px;
                    &:hover {
                        background-color: #e7541c;
                        color: white;
                        border-color: #e7541c;
                    }
                }
            }
            .nav-userInfo {
                p{
                    color: #000;
                }
                .ant-menu-horizontal {
                    background-color: transparent;
                    border-bottom: none;
                }
                .ant-menu-submenu-title {
                    color: #fff;
                }
                .ant-menu-submenu-title:hover {
                    color: #fff;
                }
            }
        }
        .pure-menu-list-right {
            float: right;
        }
    }

}

.ant-modal-content {
    border-radius: 0px;
    width: 500px;
}

.ant-btn-lg {
    border-radius: 0px;
}

.ant-modal-title {
    font-size: 18px;
}

.ant-modal-body {

    padding-left: 40px;
    padding-right: 40px;
    label{
        display: inline-block;
        font-size: 14px;
        line-height: 40px;
        margin-right: 8px;
        width: 70px;
    }

    .userInfo {
        display: flex;
        flex-direction: row;
        padding-top:12px;
        padding-bottom: 12px;

    }
    .ant-input {
        border-radius: 0px;
        width: 300px;
        height: 40px;

    }
}