#home{
    .content {
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-bottom: 100px;
        padding-top: 40px;
    }

    .content-intro {
        justify-content: center;
        height: 400px;
        background: #fff url('../static/images/background.png') no-repeat center top;
        background-size: cover;
    
    }

    .content-dangri {
        display: flex;
        align-items: left;
        justify-content: flex-start;
        padding-left: 50px;
        h2{
            padding-bottom: 12px;
        }
    }
    .pure-table {
        width: 1000px;
        border: 1px solid #e1e3e5;
    }
    .pure-table td {
        font-size: 14px;
        color: #525b63;
        padding: 12px 20px;
        border-bottom: 1px solid #e1e3e5;
    }
}