.content-detail {
    padding: 20px 70px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    img {
        width: 700px;
    }

    .kInfo {
        width: 800px;
    }
    .stockTrade {
       margin-left: 80px;
       padding-top: 28px;
       width: 350px;
       text-align: center;
       h2{
           margin-top: 12px;
           margin-bottom: 24px;
       }
       .info {
           display: flex;
           justify-content: space-between;
           border-bottom: 1px solid #000;
           margin-top: 18px;
           padding-bottom: 8px;
        label{
                display: inline-block;
                font-size: 18px;
            }
        p{
            display: inline-block;
            font-size: 18px;
        }
    }
    }
}


.content-buy {
    display: flex;
    flex-direction: row;
    padding: 30px 70px;
    border-bottom:  1px solid rgba(0, 0, 0, 0.12);

    .ant-btn-primary {
        width: 300px;
        height: 42px;
        font-size: 18px;
        background-color: #e7541c;
        border-color: #e7541c;
        border-radius: 0px;
        margin-top:16px;
    }
    h2{
        width: 400px;
        border-bottom: 2px solid #eee;
        margin-right:15px;
    }

    .ant-input {
        width: 200px;
        border-radius: 0px;
    }

    .buy{

        margin-top:48px;
        li{
            font-size: 18px;
            margin-bottom: 16px;
            span{
                display: inline-block;
                width: 100px;
            }
            p {
                display: inline-block;
            }
        }
    }
    .five{
        margin-top:16px;
        .five-title {
            border-bottom: 1px solid #000;
        }

        span{
            margin-right: 100px;
            font-size: 16px;
        }

        li{
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
}